---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


// --------------------------------------- Custom CSS --------------------------------------- // 

// ----------------------------- tables ----------------------------- //
// Change the background color of even rows in tables
$table-even-row-background-color: mix(#000, $background-color, 15%) !default;

tr:nth-child(even) {
    background-color: $table-even-row-background-color;
}

// ----------------------------- ToC ----------------------------- //
.toc {

    // Change the background color of the toc header (dark mode only)
    .nav__title {
        //background-color: #00000000;
    }

    // animate the toc on toggle
    .header {
        cursor: pointer;
        box-sizing: border-box;
    }

    .header:hover {
        opacity: 0.7;
    }

    .toc-content {
        overflow: hidden;
        max-height: 0;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;
    }

    #toc-state {
        display: none;
    }

    #toc-state:checked~.toc-content {
        max-height: 70vh;
        overflow-y: scroll;
    }

    // Fix ToC hover color of active item
    &__menu .active a:hover {
        color: #3d4144;
    }
}

// move the toc to the right
@media (min-width: 80em) {
    .sidebar__right {
        margin-right: -400px;
    }
}

// ----------------------------- Image Captions ----------------------------- //
// Change the font style of image captions
p:has(img) {
    font-style: italic;
    font-size: 0.8rem !important;
}

// ----------------------------- Language Switcher ----------------------------- //
// Change the font style of the language switcher
.switch-language {
    gap: 1rem;

    img {
        width: 1rem;
        height: 1rem;
    }
}

// ----------------------------- Code ----------------------------- //
// Copy label
// source: https://github.com/iBug/iBug-source/commit/eb0180ae9eaa2d3d90c25b9c49cfb0e82fcc5e84
pre {
    .copy-button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        z-index: 1;
        background: none;
        border: none;
        border-radius: 0.1em;
        padding: 0.2em 0.5em;
        color: white;
        opacity: 0.1;
        transition: color 0.25s linear, opacity 0.25s linear;
        outline: none;

        &:hover {
            opacity: 1;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
        }

        &.copied {
            color: #019701;
            opacity: 1;
        }
    }

    &:hover .copy-button {
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }
}